<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Shop App</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam porro voluptatum
                accusamus dolores illo, atque id odit cupiditate libero soluta velit veniam, placeat quasi excepturi
                voluptatibus ipsum unde eaque adipisci?</p>
        </div>
    </div>
</header>