@model ProductModel
@* entitydeki product ile form daki product ayırmak gerek bu yüzden produtmodel oluşturduk ayrıca bütün propsları
    kullanmak
    zorunda değilizi ona göre de ihtiyacımız olanı aldık produtcmodel içine *@

<h1 class="h3">Ürün Ekle</h1>
<hr>

<div class="row">
    <div class="col-md-8">
        <form action="~/admin/createproduct" method="POST">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Ürün Adı:</label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Name">
                    @* id javascript tarafındaki işlemler name server tarafındaki post ettiğimiz zaman *@
                    @* id javascript tarafındaki işlemler name server tarafındaki post ettiğimiz zaman *@
                    @* id javascript tarafındaki işlemler name server tarafındaki post ettiğimiz zaman *@
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Url"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Url">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Description"></label>
                <div class="col-sm-10">
                    <textarea class="form-control" asp-for="Description"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Resim Url:</label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="ImageUrl">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Fiyat:</label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Price">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-info">Ürün Ekle</button>
                </div>
            </div>
        </form>
    </div>
</div>